@model Negocio.ServicioWCF.TablaISR

<div>
    <h4>TablaISR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LimSup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimSup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuotaFija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuotaFija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.excedente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.excedente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.impuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.impuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limInf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limInf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subsidio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subsidio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
